div(ng-controller='experiencesController')
    h2.text-center Histórico Profissional
    hr
    div(ng-repeat='experience in experiences')
        strong {{experience.position}}
        span.mx-1 no
        strong.mr-1 {{experience.company}}
        span ({{experience.from.month}}/{{experience.from.year}}
        span.mx-1 -
        span {{experience.to.month}}/{{experience.to.year}})
        p {{experience.description}}