@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  @bottom-left {
    content: "MARCO CARVALHO'S RESUME";
    font-size: 10px;
  }

  @bottom-right {
    content: counter(page) " / " counter(pages);
    font-size: 10px;
  }
}
