@import "tailwindcss";

@page {
  @bottom-left {
    content: "Marco Carvalho's Resume";
    font-size: 10px;
  }

  @bottom-right {
    content: counter(page) " / " counter(pages);
    font-size: 10px;
  }
}
