.text-center
    span.mr-1 Feito com
    a(href='https://webpack.js.org') Webpack
    span.mr-1 ,
    a(href='https://pugjs.org') Pug
    span.mr-1 ,
    a(href='https://angularjs.org') AngularJS
    span.mx-1 e
    a(href='https://getbootstrap.com/') Bootstrap
    span .